.di{
	width: 100%;
	height: 40px;
	background: #333333;
}



.daohang{
	width: 1348px;
	height: 40px;
	margin: 0 auto;
}

.daohang-left{
	width: 562px;
	height: 40px;
	float: left;
}

.left-text{
	float: left;
	font-size: 11px;
	color:#b0b0b0;
	line-height: 40px;
}
.left-l{
	float: left;
	font-size: 11px;
	color: #393f3f;
	line-height: 40px;
	padding: 0 6px;
}
.daohang-right{
	width: 160px;
	height: 40px;
	float: right;
	margin-right: 25px;
}
.right-text{
	float: right;
	font-size: 11px;
	color:#b0b0b0;
	line-height: 40px;
}
.right-l{
	float: right;
	font-size: 11px;
	color: #393f3f;
	line-height: 40px;
	padding: 0 6px;
}
.gouwuche{
	background:#424242;
	width: 120px;
	height: 40px;
	float: right;
}
.gouwuche-text{
	font-size: 11px;
	color:#b0b0b0;
	text-align: center;
	line-height: 40px;
}
.di2{
	width: 100%;
	height: 100px;
}
.di2-daohang2{
	width: 1229px;
	height: 100x;
	margin: 0px auto;
}
.di2-daohang2-img{
	float: left;
	margin-top: 22.5px;
}
.di2-daohang2-text{
	float: left;
	height: 100px;
	margin-left: 245px;
}
.di2-daohang2-text-text{
	font-size: 14px;
	float: left;
	line-height: 100px;
	color: #333333;
	margin-right: 22px;
}
.box{
	width:280px ;
	height: 48px;
	float: right;
	border: 1px solid #e0e0e0 ;
	margin-top: 25px;
	
}
.box1{
	width: 48px;
	height: 100%;
	float: right;
	border-left: 1px solid #e0e0e0;
	text-align: center;
	line-height: 48px;
}
.banner{
		width: 1226px;
		height: 460px;
		background: yellow;
		margin: 0 auto;
		margin-top: 40px;
		position: relative;
	}
	.img{
		width: 100%;
		height: 460px;
	}
	.box-left{
		width:234px;
		height: 100%;
		background: rgba(0,0,0,0.6);
		position: absolute;
		top: 0px;
	}
	.box-left ul{
		padding-top:20px;
	}
	.box-left .lbt{
		height: 42px;
		line-height: 42px;
		cursor: pointer;
	}
	.box-left .lbt:hover{
		background: #ff6700;
	}
	.box-left .lbt1{
		margin-left: 40px;
		color: #fff;
	}
	.box-left .lbt2{
		float: right;
		color: #fff;
		margin-right: 30px;
	}
.tupian{
	width: 100%;
	height: 120px;
	margin-top: 40px;
	}
	.tupian2{
		width: 1229px;
		height: 100%;
		margin: 0 auto;
	}
	.tupian2 img{
		margin: 0 auto;
		width: 1229px;
		height: 120px;
	}
	
.xmsg{
		width: 1226px;
		height:440px;
		margin: auto;
	margin-top: 30px;
	}
	.daohang{
		width: 1226px;
		height: 58px;
	}
	.jiantou{
		margin-top: 10px;
		float: right;
	}
	.jiantou div{
		width: 44px;
		height: 36px;
		border: 1px solid #e0e0e0;
		text-align: center;
		line-height: 36px;
		float: left;
	}
	.jiantou-one{
		color: #e0e0e0;
		font-weight: 600;
	}
	.jiantou-two{
		color: #b0b0b0;
		font-weight: 600;
		
	}
	.left-textt{
		font-size: 24px;
		float: left;
		line-height: 58px;
		color: #000;
	}
	.kuang ul{
		float: left;
	}
	.box-one{
		width: 234px;
		height: 380px;
		background-color: #f1eded;
		border-top:1px solid red ;
	}
	.box-time{
		padding-top:100px;
		font-size: 26px;
		text-align: center;
		color: #ff6709;
	}
	.box-one img{
		display: block;
		margin: 0 auto;
		margin-top: 30px;
	}
	.box-text{
		height: 70px;
		text-align: center;
		line-height: 70px;
	}
	.box-xia{
		width: 75%;
		height: 50px;
		margin: 0 auto;
	}
	.box-xia div{
		float: left;
	}
	.box-xia .box-suzi{
		width: 29%;
		height: 100%;
		color: #fff;
		font-size: 26px;
		text-align: center;
		background: black;
		line-height: 50px;
		margin-left: 2px;
	}
	.box-xia .box-dian{
		font-size: 32px;
		text-align: center;
		line-height: 44px;
	}
	.box-two{
		width: 234px;
		height: 380px;
		background-color: #f1eded;
		border-top:1px solid #ffac13 ;
		margin-left: 14px;
	}
	.miaosha{
		margin: 0 auto;
		width: 60px;
		background: red;
	}
	.box-two img{
		display: block;
		width: 160px;
		height: 160px;
		margin: 0 auto;
		margin-top: 30px;
	}
	.bao{
		width: 100%;
		text-align: center;
		margin-top: 50px;
	}
	.fang{
		width: 100%;
		text-align: center;
        margin-top: 5px;
		font-size: 12px;
		color: #b0b0b0;;
	}
	.jiaqian{
		margin-left: 77px;
		font-size: 14px;
	}
	.jiaqian li{
		margin-top: 20px;
		float: left;
	}
	.jiaqian .leftt{
		color: #ff6709;
	}
	.jiaqian .rightt{
		margin-left: 8px;
		color: #b0b0b0;
	}
	.three{
		border-top:1px solid #83c44e;
	}
	.four{
		border-top:1px solid #2196f3;
	}
	.five{
		border-top:1px solid #e53935;
	}
.dibu{
	width: 100%;
	height: 380px;
	background: #F5F5F5;
}
.dibu2{
	width: 1229px;
	height: 100%;
	margin: 0px auto;
}
.top{
	height: 80px;
	width: 100%;
}
.dibu2-bottom{
	height: 300px;
	width: 100%;
}
.top-left{
	height:100%;
	width: 90px;
	float: left;
	font-size: 22px;
	color:#333333 ;
	line-height: 90px;
}
.top-right{
	height: 24px;
	width: 70px;
	float: right;
	margin-top: 31px;
	border: 1px solid #e0e0e0 ;
	box-sizing: border-box;
}
.right-box1{
	height: 100%;
	width: 34px;
	float: left;
	border-right:1px solid #e0e0e0;
	text-align: center;
	font-size: 12px;
	color: #e0e0e0;
	line-height: 22px;
}
.right-box2{
	height: 100%;
	width: 33px;
	float:right;
	text-align: center;
	font-size: 12px;
	color: #b0b0b0;
	line-height: 22px;
}
.dibu2-bottom >ul>li {
	height: 300px;
	width: 234px;
	background: white;
	margin-left: 14px;
	float: left;
	text-align: center;
}

.dibu2-bottom .bottom-box{
	margin-left: 0;
}
.bottom-box-img{
	margin: 0px auto;
	height: 182px;
	width: 100%;
	 
}
.bottom-box-ziti{
	font-size: 12px;
	text-overflow: ellipsis; white-space: nowrap;
	color: #333;
	width: 180px;
	height: 24px;
	margin-left: 30px;
	overflow: hidden;
	margin-top: 24px ;
}
.bottom-box-ziti1{
	font-size: 12px;
	color:#ffb452;
	
	
}
.bottom-box-ziti2{
	font-size: 14px;
	color:#a1758b;
	margin-top: 12px;
}
.rpcp{
	height: 500px;
	width: 100%;
	background: #F5F5F5;
}
.rpcp2{
	width: 1229px;
	height: 100%;
	margin: 0 auto;
}
.rpcp2-top{
	width: 100%;
	height: 80px;
	line-height: 80px;
	font-size: 22px;
	color: #333;
}
.rpcp2-bottom{
	width: 1229px;
	height: 420px;
	float: left;
}
.rpcp2-bottom >ul>li{
	height: 420px;
	width: 300px;
	background: white;
	float: left;
	margin-left: 9px;
}
.rpcp2-bottom .rpcp2-bottom-1{
	margin-left: 0;
}
.rpcp2-bottom img{
	display: block;
	width: 300px;
	height: 220px;
}
.rpcp2 ul li{
	transition: all 0.5s;
	
}
.rpcp ul li:hover{
	box-shadow: 0 5px 20px rgba(0,0,0,0.1);
	transform: translate3d(0,-2px,0);
}
.wenzi{
	width: 237px;
	height: 63px;
	margin-top: 35px;
	margin-left: 28px;
	color: #333333;
	font-size: 13px;
}
.wenzi1{
	width: 139px;
	height: 15px;
	margin-top: 30px;
	margin-left: 28px;
	font-size: 12px;
	color: #b0b0b0;
}
.wenzi2{
	width: 168px;
	height: 23px;
	float: left;
	margin-top: 15px;
	margin-left: 28px;
}
.wenzi3{
	width: 112px;
	height: 100%;
	font-size: 13px;
	color: #333333;
	float: left;
}
.wenzi4{
	width: 22px;
	height: 100%;
	float: left;
	font-size: 13px;
	color: #b0b0b0;
	text-align: center;
	
}
.wenzi5{
	width: 33px;
	height: 100%;
	float: left;
	font-size: 13px;
	color:#ff6700;
}
/*手机*/
.shouji{
	width: 100%;
	height: 677px;
	margin-top: 18px;
	background: #f5f5f5;
	}
	.shouji2{
		width: 1229px;
		height: 100%;
		margin: 0 auto;
	}
	.shouji2-top{
		width: 100%;
		height: 62px;
	}
	.shouji2-top-left{
		width: 42px;
		height: 100%;
		font-size: 20px;
		line-height:62px ;
		text-align: center;
		float: left;
		
	}
	.shouji2-top-right{
		width: 62px;
		height: 100%;
		float: right;
		font-size: 15px;
		line-height:62px ;
		text-align: center;
		margin-right: 5px;
	}
	.shouji2-top-text{
		font-size: 15px;
		line-height: 62px;
		text-align: center;
		color: #b0b0b0;
		float: right;
	}
	.shouji-bottom{
		width: 100%;
		height: 615px;
	}
	.shouji-bottom-left{
		width: 234px;
		height: 100%;
		float: left;
	}
	.shouji-bottom-left img{
		width: 234px;
		height: 100%;
		
	}
	.shouji-bottom-right{
		width: 995px;
		height: 100%;
		float: left;
	}
	.shouji-bottom-right ul li{
		width: 234.7px;
		height: 300px;
		float: left;
		background: white;
	}
	.shouji-bottom ul li{
		transition: all 0.5s;
		
	}
	.shouji2 ul li:hover{
		box-shadow: 0 5px 20px rgba(0,0,0,0.1);
		transform: translate3d(0,-2px,0);
	}
	.shouji ul li:first-child{
		margin-left: 14px;
		
	}
	.shouji-bottom-right ul li:nth-child(2){
		margin-left: 14px;
	}
	.shouji-bottom-right ul li:nth-child(3){
		margin-left: 14px;
	}
	.shouji-bottom-right ul li:nth-child(4){
		margin-left: 14px;
	}
	.shouji-bottom-right ul li:nth-child(5){
		margin-left: 14px;
		margin-top: 15px;
	}
	.shouji-bottom-right ul li:nth-child(6){
		margin-left: 14px;
		margin-top: 15px;
	}
	.shouji-bottom-right ul li:nth-child(7){
		margin-left: 14px;
		margin-top: 15px;
	}
	.shouji-bottom-right ul li:nth-child(8){
		
		margin-left: 14px;
		margin-top: 15px;
	}
	.shouji-bottom ul li{
		transition: all 0.5s;
		
	}
	.shouji2 ul li:hover{
		box-shadow: 0 5px 20px rgba(0,0,0,0.1);
		transform: translate3d(0,-2px,0);
	}
	.shouji-bottom-right-xp{
		width: 64px;
		height: 20px;
		background:#83C44E;
		margin: 0 auto ;
		color: #FFFFFF;
		line-height: 20px;
		text-align: center;
		font-size: 12px;
	}
	.shouji-bottom-right-tu{
		width: 140px;
		height: 144px;
		margin: 0 auto;
	}
	.shouji-bottom-right-tu img{
		width: 140px;
		height: 144px;
	}
	.shouji-bottom-right-jieshao{
		width: 158px;
		height: 13px;
		font-size: 13px;
		text-align: center;
		margin: 0 auto;
		color: #333;
		margin-top: 19px;
	}
	.shouji-bottom-right-jieshao2{
		width: 184px;
		height: 11px;
		font-size: 11px;
		text-align: center;
		margin: 0 auto;
		color: #b0b0b0;
		margin-top:9px;
		
	}
	.shouji-bottom-right-jieshao3{
		width: 45px;
		height: 12px;
		font-size: 12px;
		text-align: center;
		margin: 0 auto;
		color: #FF6700;
		margin-top:18px;
	}
	/* 手机结束 */
	/* 家电开始 */
	.jiadian{
		width: 100%;
		height: 677px;
		background: #f5f5f5;

		}
		.jiadian2{
			width: 1229px;
			height: 100%;
			margin: 0 auto;
		}
		.jiadian2-top{
			width: 100%;
			height: 62px;
		}
		.jiadian2-top-left{
			width: 42px;
			height: 100%;
			font-size: 20px;
			line-height:62px ;
			text-align: center;
			float: left;
			
		}
		.jiadian2-top-right{
			width: 62px;
			height: 100%;
			float: right;
			font-size: 15px;
			line-height:62px ;
			text-align: center;
			margin-right: 5px;
		}
		.jiadian2-top-text{
			font-size: 15px;
			line-height: 62px;
			text-align: center;
			color: #b0b0b0;
			float: right;
		}
		.jiadian-bottom{
			width: 100%;
			height: 615px;
			background: #2196F3;
		}
		.jiadian-bottom-top ul li{
			width: 234.7px;
			height: 300px;
			float: left;
			float: left;
			margin-left: 13px;
			background: white;
		}
		.jiadian-bottom-top ul li:first-child{
			margin-left: 0;
		}
		.jiadian-bottom-bottom ul li{
			width: 234.7px;
			height: 300px;
			float: left;
			float: left;
			margin-left: 13px;
			margin-top: 14px;
			background: white;

			
		}
		.jiadian-bottom-bottom ul li:first-child{
			margin-left: 0;
		}
		.jiadian ul li{
			transition: all 0.5s;
			
		}
		.jiadian ul li:hover{
			box-shadow: 0 5px 20px rgba(0,0,0,0.1);
			transform: translate3d(0,-2px,0);
		}
		.jiadian-bottom-top-tu img{
			width: 234.7px;
			height: 300px;
		}
		.jiadian-bottom-bottom-tu img{
			width: 234.7px;
			height: 300px;
		}
		.jiadian-bottom-last ul li{
			width: 235px;
			height: 143px;
			float: right;
			margin-top: 14px;
			margin-right: 3px;
			background: white;

		}
		.jiadian-bottom-bottom-xp{
			width: 64px;
			height: 20px;
			background:#83C44E;
			margin: 0 auto ;
			color: #FFFFFF;
			line-height: 20px;
			text-align: center;
			font-size: 12px;
			
		}
		.jiadian-bottom-bottom-tupian img{
			width: 150px;
			height: 150px;
			margin: 0 auto;
		}
		.jiadian-bottom-bottom-tupian{
			width: 150px;
			height: 150px;
			margin: 0 auto;
		}
		.jiadian-bottom-bottom-jiaoshao{
			width: 214px;
			height: 14px;
			text-align: center;
			color: #333333;
			font-size: 14px;
			margin:  0 auto;
			margin-top: 15px;
			
		}
		.jiadian-bottom-bottom-jiaoshao2{
			width: 184px;
			height: 11px;
			font-size: 11px;
			text-align: center;
			margin: 0 auto;
			color: #b0b0b0;
			margin-top:9px;
			
		}
		.jiadian-bottom-bottom-jiaoshao5{
			widows:110px ;
			height: 14px;
			margin: 0 auto;
			margin-top: 20px;
		}
		.jiadian-bottom-bottom-jiaoshao3{
			width: 50px;
			height: 13px;
			color: #FF6700;
			float: left;
			font-size: 14px;
			margin-left: 70px;
		}
		.jiadian-bottom-bottom-jiaoshao4{
			width: 50px;
			height: 13px;
			color: #b0b0b0;
			float: left;
			font-size: 14px;
			text-decoration: line-through;
			
		}
		.jiadian-bottom-last-jieshao{
			width: 84px;
			height: 24px;
			font-size: 12px;
			text-overflow: ellipsis;
			white-space: nowrap;
			margin-top: 44px;
			margin-left: 30px;
			float: left;
		}
		.jiadian-bottom-last-1779{
			width: 43px;
			height: 15px;
			font-size: 12px;
			color: #FF6700;
			line-height: 15xp;
			text-align: center;
			margin-left: 30px;
			
		}
		.jiadian-bottom-last-jinshuiqi{
			width: 80px;
			height: 80px;
			background: #000000;
			float: right;
			margin-right: 22px;
			margin-top: 20px;
			
		}
		.jiadian-bottom-last-jinshuiqi img{
			width: 80px;
			height: 80px;
		}
		.jiadian-bottom-last-js{
			width: 72px;
			height: 30px;
			color: #333333;
			font-size: 18px;
			margin-top: 53px;
			margin-left: 30px;
			float: left;
			
		}
		.jiadian-bottom-last-rm{
			width: 33px;
			height: 11px;
			color: #B0B0B0;
			font-size:11px ;
			margin-left: 30px;
		}
		.jiadian-bottom-last-text{
			width: 50px;
			height: 50px;
			font-size: 50px;
			color: #FF6700;
			float: right;
			margin-top: 30px;
			margin-right: 40px;
			
		}
		/* 家电结束 */
		.tp{
			width: 100%;
			height: 200px;
			background: #F5F5F5;
			
			}
			.tp2{
				width: 1229px;
				height: 100%;
				margin: 0 auto;
			}
			.tp2 img{
				margin: 0 auto;
				width: 1229px;
				height: 120px;
				margin-top: 50px;
			}
			.jiadian-bottom-bottom-jiaosha3{
				margin-left: 100px;
				margin-top: 20px;
				color: #FF6700;
			}
			.dapei-bottom-bottom-tupian{
				width: 150px;
				height: 150px;
				margin: 0 auto;
				margin-top: 30px;
			}
			.dapei-bottom-bottom-tupian img{
				width: 150px;
				height: 150px;
			}
			.dapei-bottom-bottom-jiaoshao5{
			widows:110px ;
			height: 14px;
			margin: 0 auto;
		}
		.dapei-bottom-bottom-jiaoshao3{
			width: 35px;
			height: 13px;
			color: #FF6700;
			float: left;
			font-size: 14px;
			margin-left: 85px;
		}
		.dapei-bottom-bottom-jiaoshao4{
			width: 50px;
			height: 13px;
			color: #b0b0b0; 
			float: left;
			font-size: 14px;
			text-decoration: line-through;
		}
		.dapei-bottom-bottom-jiaoshao6{
			width: 70px;
			height: 11px;
			font-size: 11px;
			color: #B0B0B0;
			margin-left: 85px;
			margin-top: 10px;
		}
		.pj-bottom-bottom-jiaoshao{
			width: 150px;
			height: 13px;
			font-size: 13px;
			margin-top: 15px;
			text-align: center;
		}
		.pj-bottom-bottom-jiaoshao2{
			width: 38px;
			height: 13px;
			font-size: 13px;
			text-align: center; 
			color: #FF6700;
			margin: 0 auto;
			margin-top: 10px;
		}
		.pj-bottom-bottom-jiaoshao6{
			width: 70px;
			height: 11px;
			font-size: 11px;
			color: #B0B0B0;
			margin-left: 48px; 
			margin-top: 20px;
		}
		.zb-bottom-bottom-jiaoshao3{
			width: 39px;
			height: 14px;
			color: #FF6700;
			font-size: 14px;
			text-align: center;
			margin-left: 78px;
			float: left;
			
		}
		.zb-bottom-bottom-jiaoshao2{
			width: 100%;
			height: 10px;
		}
	.nr{
		height: 500px;
		width: 100%;
		background: #F5F5F5;
	}
	.nr2{
		width: 1229px;
		height: 100%;
		margin: 0 auto;
	}
	.nr2-top{
		width: 100%;
		height: 80px;
		line-height: 80px;
		font-size: 22px;
		color: #333;
	}
	.nr2-bottom{
		width: 1229px;
		height: 430px;
		float: left;
		background: blue;
		}
		.nr2-bottom >ul>li{
			height: 430px;
			width: 300px;
			background: white;
			float: left;
			margin-left: 9px;
			background:#83C44E ;
		}
		.nr2-bottom ul li:first-child{
			margin-left: 0;
		}
		.nr-tu{
			width: 215px;
			height: 153px;
			margin: 0 auto;
			
		}
		.nr-tu img{
			width: 215px;
			height: 153px; 
		} 

	.content {
	width: 1226px;
	height: 478px;
	margin: 0px auto;
	margin-top: 12px;
}

.content-top {
	width: 100%;
	height: 58px;
}

.content-top-left {
	font-size: 22px;
	color: #333;
	line-height: 58px;
	float: left;
	font-weight: 200;
}
.content-bottmo {
	width: 100%;
	height: 415px;
}

.content-bottom>ul>li {
	width: 296px;
	height: 415px;
	margin-left: 14px;
	float: left;
	background: #fff;
	padding-top: 45px;
	box-sizing: border-box;
	text-align: center;
	position: relative;
	border-top: 1px solid #ffac13;
	transition: all 0.3s;
}


.content-bottom>ul .list1 {
	margin-left: 0;
}

.content-bottom>ul>li .big-box img {
	width: 216px;
	height: 154px;
	cursor: pointer;

}

.content-bottom>ul>li .text1 {
	height: 24px;
	line-height: 24px;
	font-size: 16px;
	margin-bottom: 18px;
	color: #ffac13;

}

.content-bottom>ul>li .big-box .text2 {
	height: 24px;
	line-height: 24px;
	font-size: 20px;
	margin-bottom: 5px;
	color: #333;
	cursor: pointer;

}

.content-bottom>ul>li .big-box .text3 {
	height: 18px;
	line-height: 18px;
	font-size: 12px;
	margin: 0 48px 40px 48px;
	color:#b0b0b0;
	cursor: pointer;

}
.content-bottom>ul>li .big-box .text4 {
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	margin-bottom: 15px;
	color:#333;
	cursor: pointer;

}
.content-bottom>ul>li .dian{
	width: 216px;
	height: 10px;
	margin: 0 auto;
}
.content-bottom>ul>li .dian>p{
	width: 10px;
	height: 10px;
	margin: 0 15px;
	float: left;
	background: #b0b0b0;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.3s;

}
.content-bottom>ul>li .dian .list{
	margin-left: 60px;
	border: 2px solid #ff6700;
	box-sizing: border-box;
	background:none ;
	cursor: default;


}
.content-bottom>ul>li .zuo{
	width: 20px;
	height: 48px;
	left: 0;
	top: 186px;
	position: absolute;
	background: rgba(0,0,0,0);
	transition: all 0.3s;
}
.content-bottom>ul>li .zuo i{
	line-height: 48px;
	color: #fff;
}	
.content-bottom>ul>li .you{
	width: 20px;
	height: 48px;
	right: 0;
	top: 186px;
	position: absolute;
	background: rgba(0,0,0,0);
	transition: all 0.3s;
}
.content-bottom>ul>li .you i{
	line-height: 48px;
	color: #fff;
}

.content-bottom>ul>li:hover{
	transform: translateY(-2px);
	box-shadow:0 0 30px 0 rgba(0,0,0,0.1) ;
}
.content-bottom>ul>li:hover .zuo,.content-bottom>ul>li:hover .you{
	background: rgba(0,0,0,0.3);
}
.content-bottom>ul>li .dian .list1:hover{
	background: #ff5b00;
}
.video {
	width: 1226px;
	height: 343px;
	margin: 0px auto;
}

.video-top {
	width: 100%;
	height: 58px;
}

.video-top-left {
	font-size: 22px;
	color: #333;
	line-height: 58px;
	font-weight: 200;
}
.video-bottmo {
	width: 100%;
	height: 285px;
}

.video-bottom>ul>li {
	width: 296px;
	height: 285px;
	margin-left: 14px;
	float: left;
	background: #fff;
	text-align: center;
	position: relative;
	transition: all 0.3s;
}


.video-bottom>ul>li:hover{
	transform: translateY(-2px);
	box-shadow:0 0 30px 0 rgba(0,0,0,0.1) ;
}

.video-bottom>ul .tu:hover i{
	color: #ff5b00;
}


.video-bottom>ul .list1 {
	margin-left: 0;
}
.video-bottom>ul .tu{
	width: 100%;
	height: 180px;
	margin-bottom: 28px;
	cursor: pointer;
	transition: all 0.3s;
}

.video-bottom>ul img{
	width: 100%;
	height: 180px;
}
.video-bottom>ul i{
	font-size: 20px;
	left: 20px;
	top: 146px;
	position: absolute;
	color: #fff;
	cursor: pointer;
	transition: all 0.3s;

}
.video-bottom>ul .text1 {
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	margin-bottom: 6px;
	color: #333;
	cursor: pointer;
}

.video-bottom>ul .text2 {
	height: 18px;
	line-height: 18px;
	font-size: 12px;
	color: #b0b0b0;
	cursor: text;

}
	
	